body {

  height: auto;
  position: relative;
  background-size: auto;
  background-image: url(textura.jpg);
  background-size: cover;
}
button {
  color: black;
  width: 60px;
  height:60px;
  border-radius: 20px;
  background-color: white;
  margin-left: 20px;
}
